.slide-panel-wrp {
    position: absolute;
    top:0;
    z-index: 900;
    /*width: 130px;*/
    height: 100%;
    color:#fff;
    background:#455A64;
    display: none;
}

.slide-panel-right{
    /*right: -130px;*/
}

.slide-panel-left{
    /*left: -130px;*/
}

.slide-panel-right div.slide-lug{
    left: -25px;
    transform: rotate(-90deg);
}

.slide-panel-left div.slide-lug{
    right: -25px;
    transform: rotate(90deg);
}

.slide-panel-wrp div.slide-lug{
    background:#455A64;
    position: absolute;
    top: 50%;
    height: 30px;
    width: auto;
    padding: 3px 10px;
    border-radius: 8px;
    transform-origin: 0 0;
}