.slide-panel-wrp {
    position: absolute;
    top:0;
    height: 100%;
    background: #fff;
    display: none;
    z-index: 1500;
    padding: 20px;
}

.slide-panel-right div.slide-lug{
    left: -40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.slide-panel-left div.slide-lug{
    right: -40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.slide-panel-wrp div.slide-lug{
    z-index: 1200;
    background:rgba(255,255,255, 0.9);
    position: absolute;
    top: 10px;
    height: 40px;
    width: 40px;

}
.slide-panel-ico{
    margin: 4px;
    font-size: 32px;
    color: #fff;
}