<div class="form-group">
    <label for="inputStart">Start point:</label>
    <div class="col-xs-10">
        <input id="inputStart"
               type="text"
               class="form-control"
               placeholder="Start point address"
               name="start"
               ng-model="route.start"
               ng-model-options="{ updateOn: 'blur' }"
               required
        >
        <div class="alert alert-danger" role="alert" ng-if="routeData.start.$dirty && routeData.start.$error.converting">
            Sorry, google doesn't know this address. Try to point it on map.
        </div>
    </div>
    <div class="col-xs-1">
        <a href="javascript:;" ng-click="addMarker(route.start)" class="pull-right">
            <span class="glyphicon glyphicon-ok point-on-map-ico" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-xs-1">
        <a href="javascript:;" ng-click="pointOnMap('start')" class="pull-right">
            <span class="glyphicon glyphicon-map-marker point-on-map-ico" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="form-group">
    <label for="inputEnd">End point:</label>
    <div class="col-xs-10">
        <input id="inputEnd"
               type="text"
               class="form-control"
               placeholder="End point address"
               name="end"
               ng-model="route.end"
               ng-model-options="{ updateOn: 'blur' }"
               required
        >
        <div class="alert alert-danger" role="alert" ng-if="routeData.end.$dirty && routeData.end.$error.converting">
            Sorry, google doesn't know this address. Try to point it on map.
        </div>
    </div>
    <div class="col-xs-1">
        <a href="javascript:;" ng-click="addMarker(route.end)" class="pull-right">
            <span class="glyphicon glyphicon-ok point-on-map-ico" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-xs-1">
        <a href="javascript:;" ng-click="pointOnMap('end')" class="pull-right">
            <span class="glyphicon glyphicon-map-marker point-on-map-ico" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="form-group">
    <label for="inputMap">Point on map:</label>
    <div class="map-wrp sm-map" id="inputMap">
        <div map-container zoom="13" map-id="routeMap"></div>
    </div>
</div>
