<form name="auth" class="info-form">
    <div class="form-group">
        <label for="inputPwd">Password:</label>
        <input id="inputPwd" type="password" class="form-control" placeholder="Password" name="pwd" ng-model="user.pwd" required>
    </div>
    <div class="form-group">
        <label for="inputNewPwd">New Password:</label>
        <input id="inputNewPwd" type="password" class="form-control" placeholder="New Password" name="newPwd" ng-model="user.newPwd" required>
    </div>
    <div class="form-group">
        <label for="inputRepeatPwd">Repeat Password:</label>
        <input id="inputRepeatPwd" type="password" class="form-control" placeholder="Repeat Password" name="repPwd" ng-model="user.repPwd" required>
    </div>
</form>