.map-wrp{
    overflow: hidden;
}
.map-wrp.lg-map{
    width: 100%;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
}
.drv-index{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.icons-wrp{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

}
.slide-lug{
    background-color: #428bca;
    margin-top: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #fff;
}
