<div class="container-fluid">
    <div class="btn-wrp pull-right">
        <button class="btn btn-success" ng-click="save()">Save</button>
        <button class="btn btn-danger" ng-click="close()">Close</button>
    </div>
</div>
<div class="container-fluid">
    <form name="routeData">
        <div route-generator start="routeData.start" end="routeData.end"></div>
        <div class="form-group">
            <label for="inputPrice">Price:</label>
            <input id="inputPrice"
                   type="text"
                   class="form-control"
                   placeholder="Price"
                   name="price"
                   ng-model="route.price"
                    >
        </div>
        <div class="form-group">
            <label for="inputTime">Time:</label>
            <div class='input-group date' btsp-datepicker>
                <input type='text' class="form-control" id="inputTime"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputRepetition">Repetition:</label>
            <select id="inputRepetition" name="repetition" ng-model="route.repetition">
                <option value="1" selected="selected">one-time</option>
                <option value="2">every weekday(monday - friday)</option>
                <option value="3">weekly(every Thursday)</option>
                <option value="4">monthly(on day 24)</option>
                <option value="5">yearly(on February 24)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputAdds">Additional info:</label>
            <textarea id="inputAdds"
                      class="form-control"
                      name="adds"
                      ng-model="route.adds"
                    ></textarea>
        </div>
    </form>
</div>
