.child-view-wrp{
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    min-height: 80vh;
}
.point-on-map-ico{
    font-size: 20px;
}
.map-wrp.sm-map{
    height: 30vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-wrp{
    position: absolute;
    top: 10px;
    right: 10px;
}
.new-route{
    position: relative;
    padding-top: 30px;
}
.btn-wrp button{
    margin-right: 10px;
}