<div class="panel panel-primary auth-panel">
    <div class="panel panel-heading">
        <h1>Choice:</h1>
    </div>
    <div class="panel panel-body container-fluid choice-wrp">
        <div class="col-xs-5 pull-left">
            <button class="btn btn-lg btn-success pull-right choice-opt" type="button" ng-click="stateChange('traveler')">Traveler</button>
        </div>
        <div class="col-xs-5 pull-right">
            <button class="btn btn-lg btn-success pull-left choice-opt" type="button" ng-click="stateChange('driver')">Driver</button>
        </div>
    </div>
</div>